<!-- prettier-ignore -->
<%- include('../layouts/head', {seo, siteInfo}); %>

<div class="p-product">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-4">
        <img src="<%= product.image %>" class="w-100" />
      </div>
      <div class="col-12 col-sm-8">
        <h1><%= product.title %></h1>
        <p>
          <%= product.description.slice(0, 200) %>
          <a href="#product-description">...Pokračovat</a>
        </p>

        <div class="row">
          <div class="col-lg-5">
            <div class="property-grid mb-3">
              <% product.properties.forEach(property => { %> <%-
              include('../shared/product-property', {property}) -%> <% }) %>
            </div>
          </div>
          <div class="col-lg-7">
            <%- include('../shared/order-box', {product}) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3" id="product-description">
      <div class="col-12">
        <h2>Podrobný popis</h2>
        <div><%- product.description -%></div>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/foot'); %>
