<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= seo.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('../shared/seo', {seo}) -%>

    <script
      src="https://kit.fontawesome.com/059c233632.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <%- include('../shared/top-header') -%> <%- include('../shared/header')
      -%> <%- include('../shared/main-nav') -%>
    </header>
  </body>
</html>
